* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    color: #000000;
}

/* Usei grid parada centralizar pois ele alinha nos eixos verical e horizontal com uma única propriedade */
.page-header{
    background-color: #000000;
    display: grid;
    place-content: center;
    padding: 28px 0;
}

.header-logo{
    display: block;
}

.main-banner{
    display: block;
    width: 100%;
}

.top-infocard{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.top-infocard-text{
    max-width: 766px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 66px 0;
}

.top-infocard-subtitle{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 32px;
    margin-top: 22px;
}

.top-infocard-title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 48px;
    margin-bottom: 18px;
}

.top-infocard-description{
    font-size: 16px;
    line-height: 24px;
}

.top-infocard-image{
    max-width: 100%;
}

.top-cards{
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 20px;
    justify-content: center;
    padding: 188px 0 80px;
}

.top-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 34px 26px 26px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
}

.top-card-image{
    display: block;
    margin-bottom: 26px;
}

.top-card-description{
    max-width: 300px;
    text-align: center;
    line-height: 24px;
    font-size: 16px;
}

.middle-banners{
    background: #E0E0E0;
    max-height: 442px;
    margin-bottom: 280px;
}

.middle-banners-desktop{
    position: relative;
    top: 62px;
    max-width: 1732px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 32px;
}

.middle-banner-desktop{
    max-width: 100%;
}

.middle-banners-mobile{
    display: flex;
    flex-direction: column;
    margin: 0 23px;
    position: relative;
    top: 32px;
}

.banner-top-mobile{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 14px;
    margin-bottom: 24px;
}

.middle-banners-mobile-top, .middle-banners-mobile-middle{
    width: 100%;
    height: auto;
}

.middle-banners-mobile-bottom{
    max-width: 100%;
}

.bottom-cards{
    display: grid;
    grid-template-columns: repeat(4, max-content);
    gap: 20px;
    justify-content: center;
    padding-bottom: 80px;
    max-width: 1776px;
    margin: auto;
}

.bottom-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 34px 32px 66px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
}

.bottom-card-image{
    display: block;
    margin-bottom: 14px;
}

.bottom-card-description{
    max-width: 368px;
    text-align: center;
    line-height: 24px;
    font-size: 16px;
}

/* Usei dimensão de Mobile Large sugerida pelo Google Chrome */
@media screen and (max-width: 425px) {
    .main-banner-desktop{
        display: none;
    }

    .middle-banners-desktop{
        display: none;
    }

    .middle-banners{
        max-height: 414px;
    }
}

@media screen and (min-width: 426px) {
    .main-banner-mobile{
        display: none;
    }

    .middle-banners-mobile{
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .top-cards{
        grid-template-columns: 1fr;
        padding: 0 32px 80px;
    }

    .middle-banners{
        margin-bottom: 54%;
    }


    .bottom-cards{
        grid-template-columns: 1fr;
        padding: 0 22px 80px;
    }
}

@media screen and (max-width: 992px)  {
    .top-infocard{
        padding: 84px 28px 80px;
    }

    .top-infocard-text {
        margin: 0 0 68px;
    }

    .top-infocard-subtitle{
        font-size: 20px;
    }

    .top-infocard-title{
        font-size: 28px;
        margin-bottom: 20px;
    }

    .top-infocard-description{
        text-align: center;
    }

}

@media screen and (min-width: 769px) and (max-width: 900px){
    .bottom-cards{
        grid-template-columns: repeat(1, max-content);
    }
}

@media screen and (min-width: 901px) and (max-width: 1830px){
    .bottom-cards{
        grid-template-columns: repeat(2, max-content);
    }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
    .top-cards{
        grid-template-columns: repeat(2, max-content);
        padding: 36px 26px;
    }
}

@media screen and (min-width: 426px) and (max-width: 1024px) {
    .middle-banners-desktop{
        margin: 0 34px;
    }
}

@media screen and (min-width: 1025px) {
    .middle-banners-desktop{
        margin: 0 94px;
    }
}

@media screen and (min-width: 1920px) {
    .middle-banners-desktop{
        margin: auto;
    }
}